services:
  frontend:
    build: cocopasty-frontend:latest
    ports:
      - "8080:80"
    environment:
      VUE_APP_BACKEND_PORT: 8081
      VUE_APP_BACKEND_HOST: "http://localhost"
  backend:
    build: cocopasty-backend:latest
    ports:
      - "8081:8080"
    environment:
      - LOG_LEVEL: "info"
  redis:
    image: "redis:alpine"
    ports:
      - "6379:6379"